@import url('https://fonts.googleapis.com/css?family=Noto+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Noto Sans', serif;
}

@font-face {
    font-family: HyliaSerif;
    src: url("HyliaSerifBeta-Regular.otf") format("opentype");
}